<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout_only_settings>
            <general>
                <enable>0</enable>
                <allowed_urls>vue/cart/sync</allowed_urls>
                <redirect_url>https://demo.vuestorefront.io/</redirect_url>
                <allowed_ips>127.0.0.1</allowed_ips>
                <allowed_layout_handles>
                checkout_index_index
                checkout_onepage_failure,
                checkout_onepage_review_item_renderers,
                checkout_onepage_success
                </allowed_layout_handles>
            </general>
        </checkout_only_settings>
    </default>
</config>
